@use '../../../../styles/variables';

.modal{
  background: rgba(0,0,0,.5);
}

.cart-footer{
  display: flex;
  justify-content:space-between;
}
.btn{
    height: 1.5rem;
    width: 1.5rem;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    &--add{
      background-image: url("#{variables.$plus}") !important;
    }
    &--delete{
      background-image: url("#{variables.$minus}");
    }
    &--trash{
      background-image: url("#{variables.$trash}");
    }
  }
td{
  img{
    height: 3rem;
    width:3rem;
  }
}
