<div class= 'container-sm products'>
<h3>PRODUCTOS</h3>
  <!-- <div class='row' > -->
  <div class='products-list' >
      <div *ngFor='let product of products' class="card">
        <img [src]='product.image' class="card-img-top" [alt]='product.title'  >
        <div  class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class='card-text category'>{{product.category.toUpperCase()}}</p>
          <p class="card-text description">{{product.description}}</p>
          <button class="btn btn-primary" (click)="addToCart(product)" >AGREGAR +</button>
        </div>
      </div>
  </div>
  <!-- </div> -->

  <!-- <ng-template #noData> -->
  <!--   <p>NO HAY PRODUCTOS</p> -->
  <!-- </ng-template> -->
</div>
