.product {
  &--container{
    // padding: 6rem;
    // gap:2rem;
  }
  padding-top: 4.5rem;
}
.col-md-7{
  img{
    height: 15rem;
    width: 15rem;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}
